
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog App</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link  href="../style.css" type="text/css" rel="stylesheet">
</head>
<body class="editshow">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border border-2 border-light">
          <div class="card-header">
            <h4>Blogs Update Form</h4>
          </div>
          <div class="card-body">
            <form  action="/blogform" method="post">
                <input type="text" name="editId" value="<%=  singleblog.id %>" hidden>
                <div class="form-group">
                  <label for="title">Blog title:</label>
                  <input type="text" class="form-control" name="title" placeholder="Enter Blog Title"  value="<%= singleblog.title %>">
                </div>
                <div class="form-group">
                  <label for="content">Content:</label>
                  <textarea class="form-control" name="content" rows="3" placeholder="Enter Blog Content"  value="<%= singleblog.content %>"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Update</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>